@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root{
    --clr-primary: #53fff6;
    --clr-bg: #202632;
    --clr-bg-accent: #313a49;
    --clr-bg-accent2: #cee2e9;
    font-family: "Poppins", sans-serif;
    --font-fw-el: 200;
    --font-fw-l: 300;
    --font-fw-r: 400; 
    --font-fs-advice: 3.5rem;
    --font-fs-heading: 1 rem;
}

body{
    background-color: var(--clr-bg);
}

.App{
    display: flex;
    justify-content: center;
    transform: translateY(50%);
}
.advicecard{
    background-color: var(--clr-bg-accent);
    color: var(--clr-primary);
    height: 400px;
    width: 35%;
    font-weight: var(--font-fw-r);
    border-radius: 1.25rem;

}




